@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$imported-font: 'Poppins', sans-serif;

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Times, serif;
}

.ib {
  display: inline-block;
}

.mr-10px{
  margin-right: 10px;
}

textarea {
  outline: none;
  padding: 5px;
  border: none;
  background-color: #ddd;
}

.register-form, .login-form{
  
  label, button{
    display: block;
  }

  button {
    padding: 5px;
  }
}

.header-container {
  width: 100%;
  height: 50px;
  background-color: #aaa;

  ul {
    li {
      display: inline-block;
      padding: 10px;
      color: white;
      height: 30px;
      line-height: 30px;

      .avatar{
        height: 20px;
        width: 20px;
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block;
        position: relative;
        top: 5px;
        background-size: contain;
        border-radius: 50%;
      }
    }
    li:hover{
      background-color: #666;
    }
  }
}

.pregame-lobby-container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 500px;
  width: 500px;
  background-color: #ccc;

  .player-list {
    background-color: grey;
    height: 500px;
    overflow-y: scroll;
  }

  .notice-container {
    text-align: center;
    width: 395px;
    color: #666;
  }

  .message-container{
    display: grid;
    grid-template-columns: auto;

    .avatar {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-size: contain;
    }

    .message-content {
      overflow-wrap: break-word;
      max-width: 345px;
    }
  }

  .chat{
    .chat-content{
      height: 450px;
      overflow-y: scroll;
    }

    .chat-input{
      textarea {
        height: 50px;
        width: 400px;
      }
    }
  }
}

.game {
  .player-container{
    height: 160px;

    .info{
      float: left;
      background-color: #ccc;
      height: 160px;
      width: 300px;

      .title{
        font-size: 1.5rem;
      }
      .avatar{
        width: 50px;
        height: 50px;
        background-size: contain;
      }
    }
  }

  .hand{
    display: inline-block;

    .weapon-cards{
      float: left;
    }
    .clue-cards{
      float: right;
    }
  }

  .card-container{
    background-color: #efefef;
    display: inline-block;

    .title{
      font-size: 1rem;
    }
    .picture{
      height: 100px;
      width: 100px;
      background-size: contain;
    }
  }
}

.clickable {
  cursor: pointer;
}

.app-container {
  padding: 10px;
}

.button-simple {
  padding: 10px;
  background-color: lightblue;
  display: inline-block;
  cursor: pointer;
}